<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Java-demo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css" th:href="@{/bootstrap/css/bootstrap.css}"/>
    <link rel="stylesheet" href="../static/mycss.css" th:href="@{/mycss.css}"/>
    <script th:src="@{/jquery/jquery-3.1.1.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
    <h2>Clients table</h2>
    <p>The example of Spring MVC, PostrgeSQL, Bootstrap, CRUD Repository, REST </p>
    <table class="table table-hover table-striped table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>City</th>
            <th>Phone</th>
        </tr>
        </thead>
        <tbody id="clients_table">
        <!--/*@thymesVar id="clients" type="List<Client>"*/-->
        <tr th:each="client : ${clients}" th:id="${client.id}" >
            <td th:text="${client.id}" th:id="clientId+${client.id}"></td>
            <td th:text="${client.name}" th:id="clientName+${client.id}"></td>
            <td th:text="${client.age}" th:id="clientAge+${client.id}"></td>
            <td th:text="${client.city}" th:id="clientCity+${client.id}"></td>
            <td th:text="${client.phone}" th:id="clientPhone+${client.id}"></td>
        </tr>
        </tbody>
    </table>
    <div id="center" class="row">
        <div class="btn-toolbar">

            <div class="btn-group">
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#addModal">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#editModal" id="editBtn">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#deleteModal" id="deleteBtn">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>
                <!--<button type="button" class="btn btn-default" onclick="RestGet()">-->
                    <!--<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>-->
                <!--</button>-->
            </div>
        </div>
    </div>
</div>
<!-- Modal Add -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="addModalLabel">Add new client</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="addNameInput">Name</label>
                        <input type="text" class="form-control" id="addNameInput"/>
                    </div>
                    <div class="form-group">
                        <label for="addAgeInput">Age</label>
                        <input type="number" class="form-control" id="addAgeInput"/>
                    </div>
                    <div class="form-group">
                        <label for="addCityInput">City</label>
                        <input type="text" class="form-control" id="addCityInput"/>
                    </div>
                    <div class="form-group">
                        <label for="addPhoneInput">Phone</label>
                        <input type="text" class="form-control" id="addPhoneInput"/>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary"  onclick="RestPost()" data-dismiss="modal">Add</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Edit -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="editModalLabel">Edit client</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="editIdInput">Id</label>
                        <input type="text" class="form-control" id="editIdInput" disabled="true"/>
                    </div>
                    <div class="form-group">
                        <label for="editNameInput">Name</label>
                        <input type="text" class="form-control" id="editNameInput"/>
                    </div>
                    <div class="form-group">
                        <label for="editAgeInput">Age</label>
                        <input type="number" class="form-control" id="editAgeInput"/>
                    </div>
                    <div class="form-group">
                        <label for="editCityInput">City</label>
                        <input type="text" class="form-control" id="editCityInput"/>
                    </div>
                    <div class="form-group">
                        <label for="editPhoneInput">Phone</label>
                        <input type="text" class="form-control" id="editPhoneInput"/>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="RestPut()" data-dismiss="modal">Edit</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Delete -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="deleteModalLabel">Delete client</h4>
            </div>
            <div class="modal-body" id='deleteMessage'>
                Удалить пользователя?
                <table class="table table-hover table-striped table-bordered">
                    <tr>
                        <td>Id</td>
                        <td id="deletedId"></td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td id="deletedName"></td>
                    </tr>
                    <tr>
                        <td>Age</td>
                        <td id="deletedAge"></td>
                    </tr>
                    <tr>
                        <td>City</td>
                        <td id="deletedCity"></td>
                    </tr>
                    <tr>
                        <td>Phone</td>
                        <td id="deletedPhone"></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="RestDelete()" data-dismiss="modal">Delete</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    $( document ).ready(function() {
        //Блокируем кнопки Edit и Delete сразу пока не выбран клиент
        $('#editBtn').prop('disabled',true);
        $('#deleteBtn').prop('disabled',true);
        //Очищаем поля ввода при добавлении нового пользователя, так как старые данные где-то кэшируются
        $("#addIdInput").val("");
        $("#addNameInput").val("");
        $("#addAgeInput").val("");
        $("#addCityInput").val("");
        $("#addPhoneInput").val("");
    });

    //Если щелкнули по любой строке
    $("#clients_table tr").click(function(){
        //то разблокируем Edit и Delete, выделяем цветом
        $('#editBtn').prop('disabled',false);
        $('#deleteBtn').prop('disabled',false);
        $(this).addClass('success').siblings().removeClass('success');
        //Готовим данные для модальных окон
        var id = $(this).attr("id");

        $("#deletedId").text($("#clientId" + id).text());
        $("#deletedName").text($("#clientName" + id).text());
        $("#deletedAge").text($("#clientAge" + id).text());
        $("#deletedCity").text($("#clientCity" + id).text());
        $("#deletedPhone").text($("#clientPhone" + id).text());

        $("#editIdInput").val($("#clientId" + id).text());
        $("#editNameInput").val($("#clientName" + id).text());
        $("#editAgeInput").val($("#clientAge" + id).text());
        $("#editCityInput").val($("#clientCity" + id).text());
        $("#editPhoneInput").val($("#clientPhone" + id).text());
    });

    var prefix = '/clients';

    var RestGet = function() {
        $.ajax({
            //type: 'GET',
            url:  prefix,
            //dataType: 'json',
            async: true,
            success: function(result) {
                //Здесь нужно распарсить ответ HAL(это не простой JSON) и вставить в таблицу, либо использовать DataTables
            },
            error: function(jqXHR, textStatus, errorThrown) {
                alert(jqXHR.status + ' ' + jqXHR.responseText);
            }
        });
    }

    var RestPut = function()
    {
        var JSONObject= {
            'name' : $("#editNameInput").val(),
            'age'  : $("#editAgeInput").val(),
            'city' : $("#editCityInput").val(),
            'phone': $("#editPhoneInput").val()
        };
        $.ajax({
            type: 'PUT',
            url:  prefix + "/" +  $("#editIdInput").val(),
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(JSONObject),
            dataType: 'json',
            async: true,
            success: function(result) {
                alert('Время: ' + result.time
                    + ', сообщение: ' + result.message);
            },
            error: function(jqXHR, textStatus, errorThrown) {
                alert(jqXHR.status + ' ' + jqXHR.responseText);
            }
        });
    }

    var RestPost = function()
    {
            var JSONObject= {
                'name' : $("#addNameInput").val(),
                'age'  : $("#addAgeInput").val(),
                'city' : $("#addCityInput").val(),
                'phone': $("#addPhoneInput").val()
            };
        $.ajax({
            type: 'POST',
            url:  prefix,
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(JSONObject),
            dataType: 'json',
            async: true,
            success: function(result) {
                alert('Время: ' + result.time
                    + ', сообщение: ' + result.message);
            },
            error: function(jqXHR, textStatus, errorThrown) {
                alert(jqXHR.status + ' ' + jqXHR.responseText);
            }
        });
    }



    var RestDelete = function() {
            $.ajax({
                type: 'DELETE',
                url: prefix + '/' + $("#clients_table tr.success").attr("id"),
                dataType: 'json',
                async: true,
                success: function (result) {
                    alert('Время: ' + result.time
                        + ', сообщение: ' + result.message);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(jqXHR.status + ' ' + jqXHR.responseText);
                }
            });

    }
</script>
</body>
</html>